.about-container {
  background-image: none;
  background-color: #fbf6ee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  // Add spacing to compensate the navbar
  padding-top: 61px;
  //height: 553px;
  margin-bottom: 196px;
  border-radius: 8px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .description {
      padding: 16px;
      display: flex;
      flex-direction: column;

      .text {
        font-size: 14px;
      }

      .header {
        margin: 0px;
      }
    }

    .img-container {
      padding-left: 10px;

      .image {
        border-radius: 8px;
      }
    }
  }
}
