.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url(../../images/jake_walking.jpg);
  background-size: 100% auto;

  border-radius: 8px;
  border: 2px solid white;
  min-width: 500px;
  height: 610px;

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon-row {
      display: flex;
      flex-direction: row;
      padding: 10px;

      .icon {
        margin-top: auto;
        color: white;
        font-size: 20px;
        margin-right: 18px;
        padding-left: 1px;
      }

      .icon:hover {
        cursor: pointer;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      text-align: right;
      padding: 10px;

      .detail {
        display: flex;
        justify-content: flex-end;

        .text {
          font-size: 14px;
          color: white;
        }

        .bold {
          font-weight: 700;
        }
      }
    }
  }
}
