body {
	background-image: url(images/ep_naturalblack.png);
	font-family: "Martel", serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Karla", sans-serif;
	font-weight: 700;
}

.app {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	background-image: url(images/jake_walking.jpg);
	background-size: 100% auto;

	border: 2px solid white;
	border-radius: 10px;
	max-width: 500px;
	max-height: 610px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.app-container {
	height: 100%;

	.page {
		display: inline;
	}
}

.not-home {
	//background-image: none;
	//background-color: #fbf6ee;
}

.fade-enter {
	opacity: 0;
	position: relative;
}

.fade-enter-active {
	opacity: 1;
	transition: 200ms;
}

.fade-exit {
	display: none;
	/*
	opacity: 1;
	background-image: none;
	position: fixed;
	background-color: #fbf6ee;
	*/
}

.fade-exit-active {
	display: none;
	/*
	position: relative;
	opacity: 0;
	transition: 200ms;
	position: fixed;
	*/
}
