body {
  background-image: url(images/ep_naturalblack.png);
  font-family: "Martel", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
  font-weight: 700;
}

.app {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app-container {
  height: 100%;
  background-color: #fbf6ee;
  border-radius: 8px;

  .page {
    display: contents;
  }
}

.not-home {
  //background-image: none;
  //background-color: #fbf6ee;
}

.fade-enter {
  //  opacity: 0.01;
  background-color: #fbf6ee;
}

.fade-enter-active {
  // opacity: 1;
  transition: opacity 200ms ease-in;
  background-color: #fbf6ee;
}

.fade-exit {
  display: none;
}

.fade-exit-active {
  display: none;
}
